*~
*.iml
*.log
*.sw?
*.swp
*jar
*.dylib
.DS_Store
.idea
.lein*
.nrepl*
.nrepl-port
.repl
classes
node_modules
out
pom.xml
pom.xml*
pom.xml.asc
!resources/public/index.html
target
package-lock.json
.cpcache
.shadow-cljs
xtdb-store
builds/
/plaid-core/data/
/plaid-core/resources/
mutations.ednl
Gemfile.lock
.aider*
.lsp
.clj-kondo
__pycache__/
.token*
dist/
_site/
